.footer{
  padding: 4.8rem 0;
}

.footer .nav-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 6.4rem;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.24);
  margin-bottom: 2.4rem;
}

.footer .nav-footer .text-left{
  width: 100%;
  max-width: 27.9rem;
}

.footer .nav-footer .text-left .logo{
  margin-bottom: 2.4rem;
}

.footer .nav-footer .text-left p{
  color: var(--gray-600);
  font-size: 1.6rem;
  letter-spacing: -0.48px;
}

.footer .nav-footer .text-right{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 79.2rem;
  flex-grow: 1;
}

.footer .nav-footer .text-right h6{
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  letter-spacing: -0.48px;
}

.footer .nav-footer .text-right ul{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer .nav-footer .text-right ul li a{
  color: var(--gray-600);
  font-size: 1.6rem;
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  transition: all .3s ease;
}

.footer .nav-footer .text-right ul li a:hover{
  color: var(--pink-20);
}

.footer .copy{
  color: var(--gray-600);
  font-size: 1.6rem;
  letter-spacing: -0.48px;
}

.footer .copy strong{
  font-weight: 600;
}

@media(max-width: 991px){
  .footer .nav-footer .text-right{
    max-width: 65rem;
  }
}

@media(max-width: 768px){
  .footer .nav-footer{
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 5rem;
  }
  .footer .nav-footer .text-left{
    max-width: 100%;
    text-align: center;
  }
  .footer .nav-footer .text-right{
    max-width: 100%;
  }
  .footer .nav-footer .text-right .nav-item{
    width: 100%;
  }
}

@media(max-width: 560px){
  .footer .nav-footer{
    gap: 4.8rem;
  }
  .footer .nav-footer .text-right{
    flex-direction: column;
    gap: 4.8rem;
    justify-content: center;
    text-align: center;
  }
  .footer .nav-footer .text-right .nav-item ul{
    align-items: center;
  }
  .footer .nav-footer .text-right .nav-item:last-child ul{
    flex-direction: row;
    justify-content: center;
    gap: 1.6rem;
  }
  .footer .copy{
    text-align: center;
    font-size: 1.4rem;
  }
}

@media(max-width: 375px){
  .footer .nav-footer .text-right .nav-item:last-child ul{
    flex-direction: column;
    max-width: 100px;
    margin: 0 auto;
  }
}