.newsletter{
  background-color: var(--pink-10);
  padding: 8.9rem 0;
}

.newsletter .container{
  text-align: center;
}

.newsletter h2{
  width: 100%;
  max-width: 64.6rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  font-weight: 600;
  letter-spacing: -1.44px;
}

.newsletter p{
  width: 100%;
  max-width: 68.7rem;
  margin: 0 auto;
  margin-bottom: 2.4rem;
  font-size: 2.2rem;
  letter-spacing: -0.66px;
}

@media(max-width: 1200px){
  .newsletter h2{
    font-size: 4.5rem;
  }
  .newsletter p{
    font-size: 2rem;
  }
}

@media(max-width: 560px){
  .newsletter h2{
    font-size: 4rem;
    letter-spacing: -1.2px;
    max-width: 34rem;
  }
  .newsletter p{
    margin-bottom: 3.2rem;
    max-width: 32rem;
    letter-spacing: -0.54px;
  }
}

@media(max-width: 375px){
  .newsletter h2{
    font-size: 3rem;
  }
}